# Dependencies
**/node_modules/

# Environment
**/.env
**/.env.*
!**/.env.example

# Serverless Framework
.serverless/

# OS
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# AWS
.aws/

# Coverage / build (optional)
coverage/
dist/
build/